/* ##Variables */

$primary-color: #263238;
$secondary-color: #757575;

$accent-color: #2196F3;
$accent-color-light: #03A9F4;

$background-color: #E1F5FE;
$shadow: 0px 2px 5px #BBDEFB;

$heading-font-stack: 'Lora', Georgia, serif;
$paragraph-font-stack: 'Source Sans Pro', Helvetica, Arial, sans-serif;
