/* ##Buttons */

.button-wrapper {
	display: flex;
	margin-top: 2em;
	width: 100%;
}

button {
	background-color: $accent-color;
	border: none;
	outline: none;
	padding: 0.5em 1em;
	color: #fff;
	cursor: pointer;
	margin: auto;
	transition: 0.3s;
}

button.modal-toggle::before {
	content: 'View Code'
}

button:hover {
	background-color: #03A9F4;
}